// ---This whole entire thing was made by Alex/AHP---
// ---Credit will be given in comments if borrowed code appears---

// ---Imports---

@import "../resources/scss/media";
@import "../resources/scss/hover-effs";

// ---Variables---

$bgClr: #dfe5eb;
$primeClr: #e9ecef;

// ---Mixins---



// ---CSS---

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 20px;
}

