// ---This whole entire thing was made by Alex/AHP---
// ---Credit will be given in comments if borrowed code appears---

// ---Variables---

$bgClr: #ced4da;
$primeClr: #e9ecef;

// ---Mixins---



// ---CSS---

* {
  box-sizing: border-box;
}

