// ---This whole entire thing was made by Alex/AHP---
// ---Credit will be given in comments if borrowed code appears---

// ---Imports---

@import "../media";

// ---Variables---

$bgClr: #ced4da;
$primeClr: #e9ecef;

// ---Mixins---

@mixin mq($size){
  @media only screen and (min-width: $size){
    @content;
  }
}

// ---CSS---

* {
  box-sizing: border-box;
}

