$note: "screen and (min-width: 576px)";
$inbetween: "screen and (min-width: 766px)";
$tablet: "screen and (min-width: 996px)";
$teneighty: "screen and (min-width: 1500px)";
$twofive: "screen and (min-width: 2000px)";
$threekay: "screen and (min-width: 2550px)";