// ---Snakey links---
@mixin snake{
  .fancy-link{
    text-decoration: none;
    color: #ee6352;
    position: relative;
  }

  .fancy-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
  }

  .fancy-link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }
}

// ---Shifty buttons---
@mixin btnflash{
  .button {
    cursor: pointer;
    border: 0;
    background: #ee6352;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    z-index: 1;
  }

  .button + .button{
    margin-left: 1em;
  }

  .button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
    transition: transform 200ms ease-in;
  }

  // ---Left to Right---
  .button-one::after{
    transform: scaleX(0);
    transform-origin: right;
  }

  .button-one:hover::after{
    transform: scaleX(1);
    transform-origin: left;
  }

  // ---Top to Bottom---
  .button-two::after{
    transform: scaleY(0);
    transform-origin: bottom;
  }

  .button-two:hover::after{
    transform: scaleY(1);
    transform-origin: top;
  }

  // ---Top Left to Top Right---
  .button-three::after{
    transform: scale(0);
    transform-origin: top right;
  }

  .button-three:hover::after{
    transform: scale(1);
    transform-origin: top left;
  }
}